

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

body {
    font-family: 'cormorant-infant-regular', serif;
    color: #000000;
}
/* ...............HEADER....................... */



.page-header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 52px 52px;
    position: absolute;
    background: transparent;
    z-index: 1000;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: #E0E0DB;
    position: relative; 
    font-weight: 400;
    padding: 5px 0;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #9fe2aa;
    transition: width 0.5s ease, left 0.3s ease; /* Плавна анімація для підкреслення */
}

.nav-link:hover::after {
    width: 100%; /* Підкреслення розширюється на всю ширину тексту */
    left: 0;
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    height: 70px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin-left: 10px;
    color: #fffffb;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease; 
}

.social-icons a:hover {
    transform: scale(1.2); 
}

.social-icons-svg {
    height: 24px;
    width: 24px;
    fill: #ffffff;
}
.social-icons-svg:hover {
    fill: #9fe2aa;
}



/* ...............HERO....................... */
.hero {
    background-image: url('./image/michael-wave-gVkAiPchYhY-unsplash-min.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 150vh; */
}

.hero-container {
    padding-bottom: 188px;
    padding-top: 120px;
    width: 1420px;
}

.hero-text-wrapper {
    background: rgba(25, 25, 25, 0.4); 
    padding: 20px;
    border-radius: 10px; 
}
.hero-text-prof {
    font-size: 3.5em;
    font-family: 'Italiana', sans-serif;
}

.hero-text-name {
    font-size: 10.5em; 
    font-family: 'Italiana', sans-serif;
}

.under-hero-text {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.6;
}

.contact-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.location {
    width: 250px;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contact-info a {
    color: #FFFFFF;
    margin-top: 10px;
    text-decoration: none;
}






/* ...............ABOUT....................... */

.about {
    background-color: #E0E0DB;
    padding: 60px 20px;
    text-align: left;
    position: relative;
}

.about-title {
    font-family: 'Italiana', serif;
    font-size: 1.5em;
    top: 0;
    left: 20px;
    transform: translateY(-50%);
    margin: 0;
}

.about-text {
    font-family: 'Italiana', serif;
    font-size: 2.2em;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
    padding-top: 60px; 
}

.btn {
    display: inline-block;
    background-color: #2523238a;
    color: #E0E0DB; 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: normal ;
    text-align: center;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease-in-out;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 1s ease-in-out;
}

.btn::before {
    background-color: #0056B9; /* Синій колір */
    transform: translateX(-100%);
}

.btn::after {
    background-color: #FFD800; /* Жовтий колір */
    transform: translateX(100%);
}

.btn:hover::before {
    transform: translateX(0); /* Анімація синього кольору при наведенні */
}

.btn:hover::after {
    transform: translateX(0); /* Анімація жовтого кольору при наведенні */
}

.btn:hover {
    color:#0056B9;; /* Оригінальний колір тексту при наведенні */
    transform: scale(0.9); /* Ефект збільшення при наведенні */
    font: bold;
}

.support-btn {
    display: block;
    width: fit-content;
    margin: 30px auto 0;
    text-transform: uppercase;
}



/* ...............FORM....................... */



.subscribe-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.subscribe-form input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    flex: 1;
    max-width: 300px;
}

.subscribe-form button {
    padding: 10px;
    border: none;
    background-color: #0073e6;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.subscribe-form button:hover {
    background-color: #005bb5;
}




/* .........................FOOTER....................... */



.footer {
    background-color: #252525; /* темний фон для футера */
    color: #fff;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    fill: #fff;
    text-decoration: none;
}

.social-icons a:hover {
    fill: #9fe2aa;
}





/* .........................HERO GET TOUR TICKET....................... */
.hero-text-ticket
{
    font-size: 10.5em; 
    font-family: 'Italiana', sans-serif;
}
.ticket-background 
{
    background-image: url('./image/michael-wave-fif3VD4XVKg-unsplash-min.jpeg');
}

.ticket-btn-container
{
    margin-top: 100px;
}

.ticket-btn
{
    position: relative;
    display: inline-flex;
    padding: 10px 30px;
    background:#E0E0DB ;
    color: #048a16;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
    border-radius: 10px;
    font-size: large;
}
.ticket-btn::before
{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 0px;
    height: 0px;
    background:#9fe2aa;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}
.ticket-btn span 
{
    position: relative;
    font-family: 'Italiana', sans-serif;
    z-index: 1;
    font-weight: bolder;
}
.ticket-btn:hover:before
{
    width: 300px;
    height: 300px;

}


/* .........................TASTINGS PAGE....................... */
.color {
    color: #252525;
    fill: #252525;
}
.tastings-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.tastings-section {
    background-color: #fff;
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
}

.tastings-title {
    font-size: 3em;
    margin-bottom: 40px;
    font-family: 'Minerva Modern', serif;
}

.tasting-event {
    background-color: #F1F1F1;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasting-title {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Minerva Modern', serif;
}

.tasting-details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tasting-detail {
    font-size: 1.1em;
    margin: 5px 0;
    line-height: 1.6;
}


/* ......................... MODAL ....................... */
/* Додайте цей стиль, якщо він ще не був доданий */
.event-tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
    z-index: 10;
    white-space: nowrap;
}
